* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    background-image: url("Resources/bg.jpg");
    background-position: top;

}
.row {
    background-color: white;
    
    box-shadow: 3px 3px 6px lightgray;
    justify-content: space-evenly;


}
img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px'
}
.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
.btn1:hover {
    background-color: white;
    border: 1px solid;
    color: black;
}

#justify{
    justify-content: space-around;
}

#mainRow{
    background-color: transparent;
    width: 75%;
    margin:auto;
}

